@{
    Layout = "_Layout"; // Optional, if you're using a layout page
}

<div class="container">
    <h1>Commande Confirmée</h1>
    <p>Merci pour votre commande !</p>
    <p>Nous avons bien reçu votre commande et elle est en cours de traitement.</p>
</div>